<link rel="stylesheet" href="/web/frontend/css/style-header.css">
<div class="navbar">
    <div class="container-princi">
        <img src="../assets/img/banners/logo.png" alt="Logo LOC HERE" id="logo">


        <div class="input-princ">
            <div class="pesquisar_index">
                    
                <img src="../../assets/img/Icons/pesquisa-de-lupa.png" class="img-input">
            </div>
            <input type="text" placeholder="Pesquise...">
        </div>

        <div class="btns">
            <div class="btn-cadast">
                <img src="../../assets/img/Icons/usuario-fundo-preto.png" alt="">
                <a>Cadastre-se</a>
            </div>
            <div class="btn-alugar">
                <img src="../assets/img/banners/logo.png" alt="AlugueCarro">
                <a>Alugue aqui</a>
            </div>
        </div>
    </div>

    <div class="containerlinks">

        <div class="iconsCar">
            <img src="../../assets/img/Icons/hatchback.png" alt="">
            <a href="#">Hatchs</a>
        </div>


        <div class="iconsCar">
            <img src="../../assets/img/Icons/sedan.png" alt="">
            <a href="#">Sedãs</a>
        </div>


        <div class="iconsCar">
            <img src="../../assets/img/Icons/carro-suv.png" alt="">
            <a href="#">Suv</a>
        </div>


        <div class="iconsCar">
            <img src="../../assets/img/Icons/wagon.png" alt="">
            <a href="#">Peruas</a>
        </div>
        <div class="iconsCar">
            <img src="../../assets/img/Icons/utilitario.png" alt="">
            <a href="#">Utilitarios</a>
        </div>
    </div>

</div>