body {
    margin: 0;
    padding: 0;
}

/* CONTAINER-PRICIPAL */
.container-princi {
    width: 100%;

    background-color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* CARROUSEL */
.carrousel {
    width: 80%;
    height: 40vh;

    background-color: black;
}

.carrousel img {
    width: 100%;
    height: 40vh;
}


/* CONTIANER-IN */
.container-in {
    width: 90%;
    background-color: aqua;
}


/* BANNER PESQUI */
.banner-pesqui {
    width: 100%;
    height: 20vh;
    background-image: url(../assets/img/banners/logo.png);
    background-repeat: none;
    background-size: cover;

    color: aliceblue;
}


.inputs-pesqui form {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    font: 300;
    font-size: 1vh;
}

.cidade-retirada {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

    background-color: black;
}

.cidade-retirada #cidade {
    padding: 3px;
    margin: 10px;

    width: 100%;
    height: 5vh;

    border: 0;
    border-radius: 4px;
}

.data-retirada #data-retirada {
    padding: 3px;
    margin: 10px;

    width: 100%;
    height: 5vh;

    border: 0;
    border-radius: 4px;
}

.data-entrega #data-entrega {
    padding: 3px;
    margin: 10px;

    width: 100%;
    height: 5vh;

    border: 0;
    border-radius: 4px;
}

#enviar {
    padding: 3px;
    margin: 10px;

    width: 15%;
    height: 6vh;

    background-color: blueviolet;
}



.cards-promocao {
    width: 100%;
    height: 40vh;


}


.titulo-cards {
    width: 100%;
    height: 5vh;

    background-color: antiquewhite;
}


.cards-construcao {
    width: 100%;
    height: 40vh;
    background-color: aquamarine;
    display: grid;

    grid-template-columns: 30% 30% 30%;

}

.conteudo-cards {
    background-color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 35vh;
}

.conteudo-cards img{
    width: 90%;
    height: 20vh;
}